@font-face {
    font-family: Superbly;
    src: url('../Superbly.TTF');
    font-style: normal;
}

body {
    background-color: #111111;
    text-align: center;
    color: #FFFFFF;
    font-family: Superbly;
    font-style: normal;
}

.about img {
    position: absolute;
    margin-top: -40px;
    left: 50px;
}

.team img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -40px;
}

.demo img {
    position: absolute;
    margin-top: -40px;
    right: 50px;
}

.instagram img {
    position: absolute;
    right: 20px;
    margin-top: -60px;
}

.twitter img {
    position: absolute;
    right: 70px;
    margin-top: -60px;
}

.teamc {
    position: absolute;
    margin-top: -65px;
    left: 20px;
    font-size: small;
    font-family: Arial;
    font-style: normal;
}

.devc {
    position: absolute;
    margin-top: -35px;
    left: 20px;
    font-size: small;
    font-family: Arial;
    font-style: normal;
}

.changlang {
    position: central;
    margin-top: -40px;
    left: 50px;
    font-size: small;
    font-family: Arial;
}